#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "indico"
name = "Indico"
description.en = "Feature-rich event management system"
description.fr = "Système de gestion d'événements riche en fonctionnalités"

version = "3.3.9~ynh14"

maintainers = ["DeMiro5001"]

[upstream]
license = "MIT"
website = "https://getindico.io/"
demo = "https://sandbox.getindico.io/"
admindoc = "https://docs.getindico.io/en"
userdoc = "https://learn.getindico.io/"
code = "https://github.com/indico/indico"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "500M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr_FR", "en_GB"]
    default = "en_GB"

    [install.admin]
    type = "user"

    [install.logourl]
    ask.en = "Input the logo URL"
    ask.fr = "Saisissez l'URL du logo"
    type = "url"
    
    [install.mail_user]
    ask.en = "Choose the application mail system"
    ask.fr = "Choisissez l'email système de l'application"
    type = "select"
    choices.noreply="noreply@"
    choices.contact="contact@"
    default = "noreply"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/indico/indico/archive/refs/tags/v3.3.9.tar.gz"
        sha256 = "bb245141316d4f8e68232b40e83d2c96ccf010bc4705b50109fae25718d208cc"
    
        autoupdate.strategy = "latest_github_tag"
    
        [resources.sources.uv]
        amd64.url = "https://github.com/astral-sh/uv/releases/download/0.10.2/uv-x86_64-unknown-linux-gnu.tar.gz"
        amd64.sha256 = "6aa4576c31f791c0b9d4739e256d07358d45e7535695287fec03cf6839e25512"
        arm64.url = "https://github.com/astral-sh/uv/releases/download/0.10.2/uv-aarch64-unknown-linux-gnu.tar.gz"
        arm64.sha256 = "4998f545234d52fc6f1280827d392f00a9278295050d59c53a776546dbf0124d"
        armhf.url = "https://github.com/astral-sh/uv/releases/download/0.10.2/uv-armv7-unknown-linux-gnueabihf.tar.gz"
        armhf.sha256 = "45243fed8f587f11002f175216894c9c75e2f402324627b7e0855e670557ec14"
        i386.url = "https://github.com/astral-sh/uv/releases/download/0.10.2/uv-i686-unknown-linux-gnu.tar.gz"
        i386.sha256 = "7f64628a8a0869185eed24de4a02f4c8d19c99dec7363f383050ccb7474a76e9"
        
        in_subdir = true
        
        autoupdate.strategy = "latest_github_release"
        autoupdate.upstream = "https://github.com/astral-sh/uv"
        autoupdate.asset.amd64 = "^uv-x86_64-unknown-linux-gnu.tar.gz$"
        autoupdate.asset.arm64 = "^uv-aarch64-unknown-linux-gnu.tar.gz$"
        autoupdate.asset.armhf = "^uv-armv7-unknown-linux-gnueabihf.tar.gz$"
        autoupdate.asset.i386 = "^uv-i686-unknown-linux-gnu.tar.gz$"
    
    [resources.system_user]
    allow_email = true
    
    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "redis-server, postgresql, libpq-dev, libxslt1-dev, libxml2-dev, libffi-dev, libpcre3-dev, libyaml-dev, libssl-dev, zlib1g-dev, libbz2-dev, libreadline-dev, libsqlite3-dev, libncurses5-dev, libncursesw5-dev, xz-utils, liblzma-dev, uuid-dev, build-essential, libpango1.0-dev, libjpeg62-turbo-dev, postgresql-contrib, python3-venv, libpq-dev, python3-pip, python3-dev, libpq-dev"

    [resources.database]
    type = "postgresql"
