#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "indico"
name = "Indico"
description.en = "Feature-rich event management system"
description.fr = "Système de gestion d'événements riche en fonctionnalités"

version = "3.3.9~ynh2"

maintainers = ["DeMiro5001"]

[upstream]
license = "MIT"
website = "https://getindico.io/"
demo = "https://sandbox.getindico.io/"
admindoc = "https://docs.getindico.io/en"
userdoc = "https://learn.getindico.io/"
code = "https://github.com/indico/indico"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = false
sso = false

disk = "500M"
ram.build = "500M"
ram.runtime = "200M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = ["fr_FR", "en_GB"]
    default = "en_GB"

    [install.admin]
    type = "user"

    [install.logourl]
    ask.en = "Input the logo URL"
    ask.fr = "Saisissez l'URL du logo"
    type = "url"
    
    [install.mail_user]
    ask.en = "Choose the application mail system"
    ask.fr = "Choisissez l'email système de l'application"
    type = "select"
    choices.noreply="noreply@"
    choices.contact="contact@"
    default = "noreply"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/indico/indico/archive/refs/tags/v3.3.9.tar.gz"
        sha256 = "bb245141316d4f8e68232b40e83d2c96ccf010bc4705b50109fae25718d208cc"
    
        autoupdate.strategy = "latest_github_tag"
    
        [resources.sources.uv]
        amd64.url = "https://github.com/astral-sh/uv/releases/download/0.9.22/uv-x86_64-unknown-linux-gnu.tar.gz"
        amd64.sha256 = "e170aed70ac0225feee612e855d3a57ae73c61ffb22c7e52c3fd33b87c286508"
        
        arm64.url = "https://github.com/astral-sh/uv/releases/download/0.9.22/uv-aarch64-unknown-linux-musl.tar.gz"
        arm64.sha256 = "a400eaede62557af86bed6c5252a101aa1efd596698bb10c9400334fcc2847ec"
        
        in_subdir = true
        
        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.amd64 = "uv-x86_64-unknown-linux-gnu.tar.gz"
        autoupdate.asset.arm64 = "uv-aarch64-unknown-linux-gnu.tar.gz"
    
    [resources.system_user]
    allow_email = true
    
    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = "redis-server, postgresql, libpq-dev, libxslt1-dev, libxml2-dev, libffi-dev, libpcre3-dev, libyaml-dev, libssl-dev, zlib1g-dev, libbz2-dev, libreadline-dev, libsqlite3-dev, libncurses5-dev, libncursesw5-dev, xz-utils, liblzma-dev, uuid-dev, build-essential, libpango1.0-dev, libjpeg62-turbo-dev, postgresql-contrib, python3-venv, libpq-dev, python3-pip, python3-dev, libpq-dev"

    [resources.database]
    type = "postgresql"
