[Unit]
Description=Indico uWSGI
After=network.target

[Service]
ExecStart=__INSTALL_DIR__/.venv/bin/uwsgi --ini __INSTALL_DIR__/uwsgi-indico.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
SyslogIdentifier=indico-uwsgi
User=indico
Group=www-data
UMask=0027
Type=notify
NotifyAccess=all
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
